:root {
  --yellow: #e0a800;
  --yello-green: #00ff00;
  --green: #008000;
  --blue-green: #00aeae;
  --blue: #0000ff;
  --blue-violet: #7308a5;
  --violet: #ba00ff;
  --red-violet: #cc00af;
  --red: #ff0000;
  --red-orange: #ff4600;
  --orange: #ff7f00;
  --yellow-orange: #feb300;

  --black: #000000;
  --white: #ffffff;
  --grey: #808080;

  --primary-blue: #0147fa;
}
